<div id="%.object_id%" class="device-widget %.alive|"offline;online"%">
<div class="device-widget controller loadtype_%.loadType%" data-value="%.state%"
     onClick='changeState%.object_id%(this)'>
<div class="device-icon %.state|"off;on"% icon%.object_id%_light" id="icon%.object_id%_light" style='%.icon|"background-image:url(%.icon%)"%'></div>
<div class="device-header">%.object_description%</div>
</div>
</div>

<script type="text/javascript">
    function changeState%.object_id%(div) {
        var value = div.getAttribute("data-value"); 
        $(".icon%.object_id%_light").addClass("pressed");setTimeout("$(\".icon%.object_id%_light\").removeClass(\"pressed\");",300);
        if (value==1) {
            ajaxSetGlobal("%.object_title%.state", "0");
        } else {
            ajaxSetGlobal("%.object_title%.state", "1");
        }
        $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
    }

</script>